.ecslipe3  {
    width: 186;
    height: 163;
    overflow: 'hidden';
    background-color: '#403131';
    top: -56;
    left: -24;
    position: 'absolute';
    opacity: .06;
    border-radius: 130;
}